
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/main.css' %}" >
    <link rel="icon" type="image/x-icon" href="{% static 'template_image/mb.jpg' %}">
    <title>GRS</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark text-center">
        <a class="navbar-brand" href="https://www.mountblue.io"><img class="nav-logo" src="{% static 'template_image/mb.jpg' %}" alt="MountBlue Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://prep.mountblue.io/" target="blank">MountBlue Prep</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="https://learn.mountblue.io/" target="blank">MountBlue LMS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'complaints:add_complaint' %}">Add Complaint</a>
            </li> 
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'complaints:my_complaints' %}">My Complaints</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">Signup</a>
            </li>
           {% endif %}
           <li class="nav-item">
            <a class="nav-link" href="https://careers.mountblue.io/" target="blank">Careers</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1ZfKutj65BgQSYyEhBxoCRJ6C8Gd-B477NCGhlIjly2U/edit" target="blank">FAQs</a>
           </li>
           <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          </ul>
        </div>
      </nav>
      </div>
    {% if messages %}
    <div class="container mt-2 mb-2">
       {% for message in messages %}
       <div class="alert alert-{{ message.tags }} mb-0 text-center" role="alert">
          {{ message }}
       </div>
       {% endfor %}
    </div>
    {% endif %} 
    {% block content %}{% endblock %}
    <hr>
    <footer id="contact" class="bg-dark">
      <br>
      <u><h1 style="color: white">Contact</h1></u>
      <p><a href="mailto:krunalkumar@mountblue.io" target="_blank">Email Me :- krunalkumar@mountblue.io</a></p>
      <p><a href="https://wa.me/918200713617?text=Hello" target="_blank">WhatsApp Me :- +91 82007 13617</a></p>
      <br>
      <i><u><p style="text-align: right; font-size: small;"><a href="#navbarNav">Back to Top</a></p></u></i>
      <br>
      <u><small><p style="color: white">Copyright &copy; 2021, Krunalkumar Shah</p></small></u>
  </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>